.banner {
  position: sticky;
  top: 0;
  z-index: 11;

  padding-inline: var(--padding-spacer);

  background-color: hsl(var(--clr-main--100));

  display: flex;
  align-items: center;
  gap: var(--gap-xl);

  font-size: var(--fs-400);
}

.contact-button {
  margin-inline-start: auto;
}

.photo {
  height: 2.5rem;
  width: auto;
  margin-left: calc(-0.875 * var(--gap-xl));
  border-radius: 100rem;
}
