.body {
  --widget-card-bg: 200 100% 40%;
  padding: var(--padding-spacer);

  border-radius: var(--br);

  font-size: var(--fs-400);
}

.body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--gap);
}

.body > section:last-child {
  grid-column: span 2;
}
