.add-new-user {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);

  padding-block: var(--padding-spacer-xs);
}

.add-new-user button[type='submit'] {
  font-size: inherit;
  line-height: inherit;
  align-self: flex-end;
}

.input--text-wrapper,
.input--select-wrapper {
  position: relative;
}

.add-new-user :where(.input--text-wrapper > *),
.add-new-user :where(.input--select-wrapper > *) {
  display: block;
}

.add-new-user :where(label, .input--error) {
  margin-inline-start: 1ch;
}

.add-new-user :where(.input--error) {
  position: absolute;
}
