@tailwind base;
@tailwind components;
@tailwind utilities;

/* TODO: 
1. apply and delete all utility classes */

:root {
  /* small screen font sizes */
  --fs-300: 0.75rem;
  --fs-400: 1rem;
  --fs-500: 1.25rem;
  --fs-600: 1.75rem;
  --fs-700: 2rem;

  /* colors */
  --clr-primary--100: hsl(0 0% 100%);
  --clr-primary--200: hsl(224 100% 96%);
  --clr-primary--300: hsl(224 43% 92%);
  --clr-primary--400: hsl(224 43% 82%);
  --clr-primary--700: hsl(224 43% 44%);
  --clr-primary--800: hsl(224 43% 19%);
  --clr-primary--900: hsl(0 0% 0%);

  --clr-green--400: hsl(178 20% 58%);
  --clr-green--700: hsl(178 20% 48%);

  /* shadows */
  --shadow-elevation-low: 0.5px 0.5px 0.8px hsl(224 30% 77% / 0.25), 1.5px 1.5px 2.4px -2.5px hsl(224 30% 77% / 0.25);
  --shadow-elevation-medium: 0.1px 0.1px 1.4px 0.3px hsl(224 30% 77% / 0.23),
    2px 2px 3.2px -1.2px hsl(224 30% 77% / 0.23), 7.5px 7.5px 11.9px -2.5px hsl(224 30% 77% / 0.23);
  --shadow-elevation-high: 0.5px 0.5px 0.5px hsl(224 30% 77% / 0.25), 2.2px 2.2px 3.5px -0.5px hsl(224 30% 77% / 0.25),
    4.3px 4.3px 6.8px -1px hsl(224 30% 77% / 0.25), 8px 8px 12.7px -1.5px hsl(224 30% 77% / 0.25),
    14.5px 14.5px 23.1px -2px hsl(224 30% 77% / 0.25), 25px 24.9px 39.7px -2.5px hsl(224 30% 77% / 0.25);
}

@media (prefers-color-scheme: dark) {
  :root {
    /*TODO: define inverted colors */
    --clr-primary--100: hsl(0 0% 100%);
    --clr-primary--200: hsl(224 100% 96%);
    --clr-primary--300: hsl(224 43% 92%);
    --clr-primary--400: hsl(224 43% 82%);
    --clr-primary--700: hsl(224 43% 44%);
    --clr-primary--800: hsl(224 43% 19%);
    --clr-primary--900: hsl(0 0% 0%);

    --clr-green--400: hsl(178 20% 58%);
    --clr-green--700: hsl(178 20% 48%);
  }
}

@media (min-width: 90em) {
  :root {
    --fs-300: 1rem;
    --fs-400: 1.125rem;
    --fs-500: 1.5rem;
    --fs-600: 2rem;
    --fs-700: 3rem;
  }

  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3,
  h4,
  .h4 {
    line-height: 1.1;
  }
}

@layer base {
  body {
    @apply m-0 p-0 text-primary bg-primary-200 font-main text-sm;

    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    height: -webkit-fill-available;
  }

  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3,
  h4,
  .h4 {
    font-weight: var(--fw-bold);
  }

  button,
  .button {
    @apply border-[.125em] border-primary rounded-sm shadow-low text-base leading-[1.1] font-medium py-[0.5em] px-[1em] text-primary-100 bg-primary no-underline cursor-pointer transition 
    hover:text-primary hover:bg-primary-100 
    disabled:sepia;
  }

  button *,
  .button * {
    @apply pointer-events-none;
  }
}

@layer components {
  .app {
    @apply relative grid;

    grid-template-areas:
      'header banner'
      'header main';
    grid-template-columns: fit-content(12rem) 1fr;
    grid-template-rows: 5rem 1fr;
  }

  main {
    grid-area: main;
  }

  .banner {
    grid-area: banner;
  }

  header {
    grid-area: header;
  }
}

@layer utilities {
  .with-icon {
    @apply flex items-center gap-sm;
  }
}

/* ADDITIONAL RESET */
*:focus {
  outline-color: var(--clr-primary--900);
  outline-offset: 0.1em;
  outline-width: 0.2em;
  outline-style: dashed;
}

*:focus:not(:focus-visible) {
  outline: none;
}

input,
button,
textarea,
select {
  letter-spacing: inherit;
  word-spacing: inherit;
}

input,
select {
  background-color: hsl(var(--clr-main--100));
}

input:hover,
select:hover {
  border-color: hsl(var(--clr-main--500));
}

a {
  text-decoration: underline;

  transition: color var(--transition-duration--quick) linear;
}

svg {
  overflow: visible;
}

[hidden] {
  display: none;
}

/* TODO: implement skip to content link! */
/* skip to content button */
.skip-to-content {
  color: black;
  background-color: white;
  padding: 1em;
  font-size: var(--fs-700);
  font-weight: 700;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, -100%);
  transition: transform var(--transition-duration) ease-out;
  z-index: 1000;
}

.skip-to-content:focus {
  transform: translate(-50%, 0%);
}

/* UTILITY CLASSES */

/* button,
.button-style,
input,
select {
  border: 0.125em solid hsl(var(--clr-main--700));
  border-radius: var(--br);
  box-shadow: var(--shadow-elevation-low);
}

button,
.button-style {
  font-size: var(--fs-400);
  font-weight: var(--fw-bold);

  padding: var(--button-padding--block) var(--button-padding--inline);
}

button,
.button-style {
  color: hsl(var(--clr-main--100));
  background-color: hsl(var(--clr-main--700));
  text-decoration: none;

  cursor: pointer;

  transition: all var(--transition-duration--quick) linear;
}

button:disabled,
input:disabled {
  filter: sepia(0.75);
}

button:not(:disabled):hover,
.button-style:hover {
  color: hsl(var(--clr-main--700));
  background-color: hsl(var(--clr-main--100));
}

button * {
  pointer-events: none;
} */

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input,
select {
  padding-block: var(--button-padding--block);
  padding-inline: 1ch;
}

.flow-spacer > * + * {
  --flow-spacer: var(--block-spacer, 1.25rem);
  margin-top: var(--flow-spacer);
}

.flow-spacer > *[hidden] + * {
  margin-top: 0;
}

.spacer-xs > * + * {
  --flow-spacer: var(--block-spacer-xs, 0.5rem);
}

.spacer-xl > * + * {
  --flow-spacer: var(--block-spacer-xl, 3rem);
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.gap {
  gap: var(--gap);
}

.gap-xs {
  gap: var(--gap-xs);
}

.gap-xl {
  gap: var(--gap-xl);
}

.flex-block-center {
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.link-block {
  display: block;
  max-width: max-content;
}

.link-with-icon {
  display: flex;
  align-items: center;
  gap: var(--gap-xs);
}

.link-with-icon--centered {
  justify-content: center;
}

.text-color-inverse {
  color: hsl(var(--clr-main--900));
}

.border-radius {
  border-radius: var(--br);
}

.border-radius--small {
  border-radius: var(--br-xs);
}

.shadow-elevation-xs {
  box-shadow: var(--shadow-elevation-low);
}

.shadow-elevation {
  box-shadow: var(--shadow-elevation-medium);
}

.shadow-elevation-xl {
  box-shadow: var(--shadow-elevation-high);
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
  /* font-family: var(--ff-serif); */
  font-weight: var(--fw-bold);
}

.text-serif {
  /* font-family: var(--ff-serif); */
}

.fs-400 {
  font-size: var(--fs-400);
}

.text-normal {
  font-weight: var(--fw-normal);
}

.text-bold {
  font-weight: var(--fw-bold);
}

.text-center {
  text-align: center;
}

.text-italic {
  font-style: italic;
}

/* GENERAL */

.main-container {
  width: 100%;
  max-height: calc(100vh - 5rem);

  margin-inline: auto;
  padding-inline: var(--padding-spacer);
  padding-block: var(--block-spacer-xl);

  overflow: auto;
}

@media (min-width: 100em) {
  .main-container {
    padding-inline: calc(var(--padding-spacer) + 2vw);
  }
}

dialog {
  border: none;
  padding: 0;
  border-radius: var(--br);

  background: hsl(var(--clr-main--700) / 0.3);
  box-shadow: 0 0 0 100vmax hsl(var(--clr-main--700) / 0.3);
}

.modal {
  max-width: 50ch;
}

.modal > button {
  display: block;
  margin-block-end: 0.5em;
  margin-left: auto;
  z-index: 1000;
}
