.dashboard {
  --grid-areas: 'projects  projects contribution docs' 'projects projects credits docs' /* 'docs docs docs .' */;
}

.projects {
  --grid-areas: 'projects projects projects filters';

  --project-fs-300: var(--fs-400);

  --project-image-size: 6rem;

  --contribution-total-direction: row;
}

.project-page {
  --grid-areas: 'project project project credits' 'project project project buy-credits';
}

.members {
  --grid-areas: 'organization organization organization newUser' 'billing billing billing newUser';
}

.cart {
  --grid-areas: 'cart cart cart .';
}
