.list-wrapper {
  /* display: grid;

  grid-template-columns: 1fr 1fr repeat(2, min(20rem, 15%));
  grid-template-areas:
    '. . contribution total'
    'projects projects projects projects'; */
}
/* 
.contribution-column {
  grid-area: contribution;
}
.total-column {
  grid-area: total;
}

.list-wrapper ul {
  grid-area: projects;
} */

.list-wrapper ul {
  display: flex;
  flex-direction: column;

  gap: var(--gap);
}
