.filters-wrapper {
  font-size: var(--fs-400);
  padding-block-start: 0;
}

.toggle-button {
  display: flex;
  align-items: center;
  gap: 0.3em;
  /* margin-inline-start: auto; */
}

.toggle-button svg {
  pointer-events: none;
}

.toggle-button::after {
  content: '';
  width: 0.9em;
  height: 0.9em;
  background-color: hsl(var(--clr-accent--900));
  background-color: currentColor;
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
  clip-path: polygon(12% 25%, 50% 63%, 88% 25%, 100% 25%, 50% 75%, 0 25%);
  transition: transform var(--transition-duration--quick) ease;
}

.toggle-button[aria-expanded='false']::after {
  transform: rotate(90deg);
}

.toggle-button[aria-expanded='false']+* {
  display: none;
}

.toggle-button[aria-expanded='true']+* {
  display: grid;
}

.filters-body {
  grid-template-columns: 1fr 1fr;
  /* gap: var(--gap-xs); */

  padding: var(--padding-spacer);

  margin-block: var(--block-spacer);

  border-radius: var(--br);

  background-color: hsl(var(--clr-main--900));
  color: hsl(var(--clr-accent--900));
}

.filters-body>div>*:nth-child(2n + 1) {
  --label-clr: var(--clr-accent--900);
  --label-bg: var(--clr-accent--300);
}

.filters-body>div>*:nth-child(2n) {
  --label-clr: var(--clr-main--900);
  --label-bg: var(--clr-accent--500);
}

.filter-fieldset {
  padding-block: var(--padding-spacer-xs);
}

.filter-fieldset>legend {
  font-weight: var(--fw-bold);
}

.values-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: var(--gap-xs);

  font-size: var(--fs-300);
  font-weight: var(--fw-bold);
}

.checkbox-wrapper>input:checked+label {
  --label-clr: var(--clr-main--300);
  --label-bg: var(--clr-main--800);
  /* background-color: hsl(var(--clr-accent--900));
  background-color: hsl(0, 0%, 59%);
  color: hsl(var(--clr-main--900)); */
}

.checkbox-wrapper>label {
  display: inline-block;
  cursor: pointer;

  padding: var(--button-padding--block) var(--button-padding--inline);
  border-radius: var(--br-xs);

  color: hsl(var(--label-clr));
  background-color: hsl(var(--label-bg));
}

.checkbox-wrapper:hover>label {
  background-color: hsl(var(--clr-accent--700));
  color: hsl(var(--clr-main--900));
}

/* with range inputs */

.filters-body>div:first-child {
  padding-inline-end: var(--padding-spacer);
  border-inline-end: 1px solid hsl(var(--clr-accent--900));
}

.filters-body>div:last-child {
  padding-inline-start: var(--padding-spacer);
  border-inline-start: 1px solid hsl(var(--clr-accent--900));
}

.fieldset--range .values-wrapper {
  gap: var(--gap-xs);
}

.fieldset--range .values-wrapper>* {
  width: 100%;
}

.fieldset--range .labels {
  display: flex;
  justify-content: space-between;
  font-size: var(--fs-400);
  font-weight: var(--fw-normal);
}

.fieldset--range .labels>span {
  display: block;
}

.fieldset--range .slider {
  color: hsl(var(--clr-accent--900));
  margin-inline: 1ch;
}