/* TODO:
1. clean up commented rules */

.header {
  position: relative;
  z-index: 10;

  font-size: var(--fs-400);

  color: hsl(var(--clr-main--900));
  background-color: hsl(var(--clr-accent--700));
}

.nav {
  position: sticky;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;

  padding-block-end: var(--padding-spacer);
}

.nav > ul {
  height: 100%;

  display: grid;
  grid-auto-flow: row;
  grid-template-rows: 5rem repeat(3, max-content);
  display: flex;
  flex-direction: column;
}

li.active {
  color: hsl(var(--clr-accent--700));
  background-color: hsl(var(--clr-main--400));
}

.nav > ul > li:not(:first-of-type) + li:not(.contact-button-wrapper) {
  margin-block-start: var(--block-spacer);
}

.contact-button-wrapper {
  margin-block-start: auto;
  margin-inline: auto;
}

.nav li:not(.logo-wrapper, .contact-button-wrapper) a {
  padding: var(--padding-spacer);
  text-decoration: none;
}

.logo-wrapper {
  display: grid;
  height: 5rem;
  place-items: center;
}

.logo-wrapper a {
  display: block;
  padding-block: var(--padding-spacer-xs);
  padding-inline: var(--padding-spacer);
}

.logo-wrapper svg {
  height: 1.25rem;
  width: 100%;
}
