.body {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: var(--gap);
}

.body>* {
  color: hsl(var(--clr-accent--900));
  background-color: hsl(var(--clr-main--900));

  padding: var(--padding-spacer);

  border-radius: var(--br);
}

.about>.name {
  font-size: var(--fs-500);
}

.about .stats {
  width: max-content;
  margin-block-start: var(--block-spacer-xs);
  padding-block: var(--button-padding--block);
  padding-inline: 1ch;
  border-radius: var(--br);
  background-color: hsl(var(--clr-accent--100));
}

.users-wrapper>ul {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.users-head,
.user {
  display: grid;
  grid-template-columns: 4fr 1fr 1fr;
  gap: var(--gap-xs);
}

.user {
  align-items: center;
}

.user.current {
  font-weight: var(--fw-bold);
}

.users-head {
  align-items: baseline;
}

.users-head {
  font-size: var(--fs-400);
}

.users-head>* {
  line-height: 1;
}

/* 
.user-photo-wrapper>img {
  border-radius: 50%;
  max-width: 3rem;
} */
/* 
.user-info-wrapper {
  display: flex;
  gap: 1ch;
  align-items: center;
} */

.user-info>* {
  display: block;
}

.email {
  opacity: 0.7;
}

.user--active svg {
  fill: hsl(var(--clr-green--700));
  width: 3rem;
  height: auto;
}