.dashboard {
  --grid-areas: 'projects projects contribution docs'
    'projects projects credits docs';
}

.projects {
  --grid-areas: 'projects projects projects credits';

  --project-fs-300: var(--fs-400);

  --project-image-size: 10rem;

  --contribution-total-direction: row;

  /* grid-template-areas: 'projects projects projects credits' !important; */
}

.project-page {
  --grid-areas: 'project project project credits';
}

.members {
  --grid-areas: 'organization organization organization billing';
}
