.project-wrapper {
  --transition: 1ms;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: var(--project-image-size, 7.5rem) 4fr;
  gap: var(--gap-xs);
  min-height: var(--project-image-size, 7.5rem);

  font-size: var(--project-fs-300, var(--fs-300));
  background-color: transparent;

  cursor: pointer;
}

.details-link {
  position: absolute;
  inset: 0;

  display: grid;
  place-items: center;
  z-index: 1;

  font-size: var(--fs-400);
  font-weight: var(--fw-bold);

  color: hsl(var(--clr-main--900));
  background-color: hsl(var(--clr-main--100) / .85);
  border-radius: var(--br);

  text-decoration: none;

  opacity: 0;

  transition: opacity var(--transition) linear;
}

.details-link:focus {
  opacity: 1;
}

.project-wrapper:hover .details-link {
  opacity: 1;
}

.project-wrapper:hover .info-wrapper {
  --project-node--bg: var(--clr-main--400);
}

.project-wrapper:hover .tagline {
  text-decoration: underline;
}

.image-wrapper {
  position: relative;
  border-radius: var(--br);
}

.image-wrapper>img {
  object-fit: cover;
  border-radius: var(--br);
}

.info-wrapper {
  display: grid;
  grid-template-columns: auto max-content;
  gap: var(--gap-xs);

  font-size: var(--fs-300);

  padding: var(--padding-spacer-xs);

  background-color: hsl(var(--project-node--bg, var(--clr-main--300)));

  transition: background-color var(--transition) linear;
}

.name-wrapper {
  max-width: 35ch;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--gap-xs)
}

.name-wrapper>h4 {
  font-size: var(--fs-400);
  font-weight: var(--fw-bold);

  line-height: 1.1;

}

.sectors {
  color: hsl(var(--clr-main--700) / .8);
}

.contribution-total-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: var(--gap-xs);
}

.contribution>.value,
.total>.value {
  background-color: hsl(var(--clr-main--100));
  padding: var(--button-padding--block) var(--button-padding--inline);
}