.project-wrapper {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: var(--project-image-size, 7.75rem) 4fr;
  gap: var(--gap-xs);
  min-height: var(--project-image-size, 7.75rem);

  font-size: var(--project-fs-300, var(--fs-300));
  background-color: transparent;

  cursor: pointer;
}

.details-link {
  position: absolute;
  inset: 0;

  display: grid;
  place-items: center;
  z-index: 1;

  font-size: var(--fs-400);
  font-weight: var(--fw-bold);

  color: hsl(var(--clr-accent--900));
  background-color: hsl(var(--clr-main--900));
  border-radius: var(--br);

  text-decoration: none;

  opacity: 0;

  transition: opacity var(--transition-duration) linear;
}

.details-link:focus {
  opacity: 1;
}

.project-wrapper:hover .details-link {
  opacity: 1;
}

.project-wrapper:hover .tagline {
  text-decoration: underline;
}

.image-wrapper {
  position: relative;
  background-color: hsl(var(--clr-main--900));
  border-radius: var(--br);
}

.image-wrapper > img {
  object-fit: cover;
  border-radius: var(--br);
}

.info-wrapper {
  display: grid;
  grid-template-columns: auto max-content;
  gap: var(--gap-xs);

  padding: var(--padding-spacer-xs) var(--padding-spacer);

  color: hsl(var(--clr-accent--900));
  background-color: hsl(var(--clr-main--900));
}

.name-wrapper {
  max-width: 35ch;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.name-wrapper > h4 {
  font-weight: var(--fw-bold);
  text-transform: uppercase;
}

.sectors {
  color: hsl(var(--clr-main--300));
}

.contribution-total-wrapper {
  display: flex;
  flex-direction: var(--contribution-total-direction, column);
  justify-content: center;
  align-items: center;
  gap: var(--gap-xs);
}

:is(.contribution, .total) > .value {
  padding: var(--button-padding--block) var(--button-padding--inline);
}

.contribution > .value {
  background-color: hsl(var(--clr-accent--100));
  border: 1px solid hsl(var(--clr-accent--300));
}

.total > .value {
  color: hsl(var(--clr-main--900));
  background-color: hsl(var(--clr-accent--500));
}
