.body {
  background-color: hsl(var(--clr-main--100));
}

.body img {
  object-fit: cover;
}

.body>* {

  padding: var(--padding-spacer);

  border-radius: var(--br);
  box-shadow: var(--shadow-elevation-medium);
}

.body :is(h1, h2, h3) {
  line-height: 1.1;
}

.body h1 {
  font-size: var(--fs-700);
}

.body h2 {
  font-size: var(--fs-600);
}

.body h3 {
  font-size: var(--fs-500);
}

.hero {
  position: relative;
  min-height: max(10rem, 25vh);
}

.hero img {
  border-radius: var(--br);
}

.title {
  background-color: transparent;
  color: hsl(var(--clr-main--900));
}

.slider {
  min-height: max(10rem, 25vh);
  position: relative;
  overflow: hidden;
}

.body h2+* {
  margin-block-start: var(--block-spacer);
}

.body h3+* {
  margin-block-start: var(--block-spacer-xs);
}

.two-cols {
  display: grid;
  grid-template-columns: 1fr 12rem;
  gap: var(--gap);
}

.two-cols>.image-wrapper {
  align-self: center;
}

.two-cols img {
  height: 12rem;
  border-radius: var(--br);
}

.cta {
  text-align: center;
}

.cta button {
  max-width: max-content;
  margin-inline: auto;
}

.sdgs ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: var(--gap);
  /* justify-content: space-between; */
}

.sdg {
  display: grid;
  grid-template-columns: 5.625rem 1fr;
  gap: var(--gap-xs);
}

.cccp>ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--gap);
}

.cccp>ul> :last-child {
  /* grid-column: span 2; */
  /* justify-self: center; */
  /* max-width: 60ch; */
}

.principle {
  display: grid;
  grid-template-columns: 4rem 1fr;
  gap: var(--gap);
  align-items: start;
}

.counter {
  font-family: var(--ff-serif);
  font-size: var(--fs-600);
  text-align: center;

  padding: var(--padding-spacer-xs);

  border: 0.1em solid hsl(var(--clr-main--300));
  border-radius: var(--br);
}

.impact ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
  justify-content: space-around;
  gap: var(--gap-xs);
}

.impact-item {
  display: flex;
  flex-direction: column;
  gap: var(--gap-xs);
  text-align: center;
  align-items: center;
}

.impact-item img {
  height: 4rem;
  width: auto;
}

.impact-item .figure {
  font-family: var(--ff-serif);
  font-weight: 700;
  font-size: var(--fs-500);
  color: hsl(var(--clr-green--700));
  letter-spacing: 0.04em;
}