.title {
  --widget-title: var(--fs-300);
}

.body {
  text-align: center;
}

.body>*+* {
  margin-block-start: var(--block-spacer);
}

.total,
.credits-wrapper {
  font-style: italic;
}

.total {
  --total-fs: 44px;
  font-size: var(--fs-600);
  font-size: var(--total-fs);
  margin-block: var(--padding-spacer-l);
}

.total svg {
  margin-inline-start: 0.5rem;
  /* width: var(--fs-600);
  height: var(--fs-600); */
  width: var(--total-fs);
  height: var(--total-fs);
}

.credits-links-wrapper>*+* {
  margin-block-start: var(--block-spacer-xs);
}

.credits-links-wrapper>* {
  width: 100%;
}

.credits-wrapper {
  display: flex;
  justify-content: center;
  gap: var(--gap-xs);
}

.credit>* {
  display: block;
}

.credit-name svg {
  --svg-clr-outside: hsl(var(--clr-main--900));
  --svg-clr-inside: hsl(var(--clr-main--100));

  margin-inline-start: 3px;
  overflow: visible;
}

.credit-value {
  font-size: var(--fs-500);
}