.widgets-wrapper {
  /**
     * User input values.
     */
  --grid-layout-gap: var(--gap);
  --grid-column-count: 4;
  --grid-item--min-width: 14rem;

  /**
     * Calculated values.
     */
  --gap-count: calc(var(--grid-column-count) - 1);
  --total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap));
  --grid-item--max-width: calc((100% - var(--total-gap-width)) / var(--grid-column-count));

  display: grid;
  grid-template-columns: repeat(auto-fill,
      minmax(max(var(--grid-item--min-width), var(--grid-item--max-width)), 1fr));
  grid-gap: var(--grid-layout-gap);
  align-items: start;
}

/* 
.column-span--1 {
  --columns: 1;
}
.column-span--2 {
  --columns: 2;
}
.column-span--3 {
  --columns: 3;
}
.column-span--4 {
  --columns: 4;
}
.row-span--1 {
  --rows: 1;
}
.row-span--2 {
  --rows: 2;
}
.row-span--3 {
  --rows: 3;
}
.row-span--4 {
  --rows: 4;
} */

.widgets-wrapper {
  /* grid-template-areas:
    'projects projects contribution docs'
    'projects projects credits docs'; */
  grid-template-areas: var(--grid-areas);
  grid-template-rows: min-content 1fr;
}

.widgets-wrapper>* {
  grid-area: var(--area-name);
}

.widget-card {
  /* grid-column: span var(--columns, 1);
  grid-row: span var(--rows, 1); */

  position: var(--position, static);
  inset: var(--inset);

  padding: var(--padding-spacer);
  border-radius: var(--br);

  color: hsl(var(--clr-main--900));
  background-color: hsl(var(--clr-accent--700));
}

.widget-card h2 {
  font-size: var(--widget-title, var(--fs-500));
}

.widget-card>*+* {
  margin-block-start: var(--block-spacer);
}